<form [formGroup]="form!" (ngSubmit)="handleSubmit()">
    <h1 class="title">{{ title }}</h1>
    <div class="form-controls">
        <div class="form-control" *ngFor="let formControlDetail of formControlDetails">
            <div class="input-container">   
                <input [class.is-invalid]="
                fc![formControlDetail.name].invalid 
                && fc![formControlDetail.name].dirty" 
                [formControlName]="formControlDetail.name"
                type="{{formControlDetail.type}}" placeholder="{{formControlDetail.placeholder}}"
                />
                <mat-error *ngIf="fc![formControlDetail.name].dirty 
                && fc![formControlDetail.name].invalid">
                    <ng-container *ngIf="fc![formControlDetail.name].hasError('customError')">
                           <p class="input-error-msg">{{fc![formControlDetail.name].errors!['customError']}}</p>
                    </ng-container>
                    <ng-container *ngIf="fc![formControlDetail.name].hasError('required')">
                        <p class="input-error-msg">This value is required</p>
                    </ng-container>
                    <ng-container *ngIf="fc![formControlDetail.name].hasError('email')">
                        <p class="input-error-msg">Not a valid email.</p>
                    </ng-container>
                    <ng-container *ngIf="fc![formControlDetail.name].hasError('minlength') ||
                     fc![formControlDetail.name].hasError('maxlength')">
                        <p class="input-error-msg">Invalid length.</p>
                    </ng-container>
                </mat-error>
            </div>

        </div>
    </div>
    <div class="button-container">
        <button class="submit-btn" type="submit">Submit</button>
    </div>
    <ng-container *ngIf="addSeparator">
        <div class="line-container">
            <hr class="line" />
            <h2 class="line-text">OR</h2>
            <hr class="line" />
        </div>
    </ng-container>
    <div class="link-container">
        <a class="link" routerLink="/{{redirectRoute}}">{{ redirectLink }}</a>
    </div>
</form>