<div class="container">
  <form>
    <h1 class="title">Sign up</h1>
    <div class="form-group">
      <input type="email" placeholder="E-mail" required />
    </div>
    <div class="form-group">
      <input type="text" placeholder="Username" required/>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" />
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password confirmation"  required />
    </div>
    <div class="button-container">
      <button>Create an account</button>
    </div>
    <div class="line-container">
      <hr class="line" />
      <h2 class="line-text">OR</h2>
      <hr class="line" />
    </div>
    <div class="link-container">
      <a class="link" routerLink="/register">Sign in</a>
    </div>
  </form>
</div>
