<div class="container">
  <form [formGroup]="form!">
    <h1 class="title">{{ 'Sign up' }}</h1>
    <div class="form-control" *ngFor="let formControl of formControls">
      <input name="{{formControl.name}}" type="{{formControl.type}}" placeholder="{{formControl.placeholder}} " />
    </div>
    <div class="button-container">
      <button class="button" (click)="onSubmit()">Submit</button>
    </div>
    <div class="line-container">
      <hr class="line" />
      <h2 class="line-text">OR</h2>
      <hr class="line" />
    </div>
    <div class="link-container">
      <a class="link" routerLink="/register">{{ 'Sign in' }}</a>
    </div>
  </form>
</div>
