<p>How fast can you type? You have 60 seconds to type in as many words as you can. Being fast is one thing, you need
  to be accurate as well. At the end you will get your result in CPM, WPM and your accuracy.
 Press the spacebar after each word, or press backspace (until there are no characters left) to go back to
  the previous word. The words vary in difficulty (for now).<br>What is CPM and WPM? <br>They're short for Characters Per Minute, and Words Per Minute.
  The CPM is the actual number of characters you type per minute, including all the mistakes (raw CPM).
  WPM is CPM divided by 5. </p>
