.theWords{
    height: 50%;
    width: 100%;
    background-color: white;
    border: 2px solid lightblue;
    border-radius: 10px;
}
span{
    color: black;
    margin: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}
.same-line{
    padding-right: 25px;
    display: inline;
}
.container{
    margin-top: 10vh;
}
input{
    margin-top: 0.5%;
    border: 2px solid lightblue;
    border-radius: 10px;
    background-color: aliceblue;
}
.modal-button{
  background-color: lightblue;
  color: white;
  border-radius: 5px;
  width: 3rem;
}
.nextword{
    background-color: lightblue;
    color: white;
}
