<div class="container">
  <div>
    <h3 class="same-line">Correct words: {{numOfCorrect}}/{{index}}</h3>
    <h3 class="same-line">Timer: {{ timer }} sec</h3>
    <h3 class="same-line">WPM: {{ calculateCurrentWpm().toFixed(2) }}</h3>
  </div>
  <div class="theWords">
    <span *ngFor="let word of service.words; index as i" [ngClass]="{'nextword' : i == index}">{{ word + " " }}</span>
  </div>
  <div>
    <input type="text" style="width: 100%;" placeholder="type here..." (keyup.space)="checkInput()"
           (keyup.backspace)="goBack()" [(ngModel)]="input"
           (focus)="decreaseTime()">
  </div>
  <p-dialog
    header="The time is up!"
    [style]="{'border': '1px solid black', 'border-radius': '5px', 'width': '60%'
    , 'height':'50%', 'padding': '5%', 'background-color': 'white'}"
    [visible]="isTimeOver" [closable]=false [modal]="true" [blockScroll]="true" [draggable]="false">
    <div>
      <h5>Out of {{index}} words, you managed to type in {{numOfCorrect}} correctly.</h5>
      <h5>That is an accuracy of: {{numOfCorrect/index * 100}}%</h5>
      <h5><b>WPM:</b> {{ calculateCurrentWpm() }}</h5>
      <h5><b>CPM:</b> {{ numOfTypedChar }}</h5>
      <h5>Would you like to save your result?</h5>
      <button pButton type="button" (click)="send()" label="Save" class="pi pi-save"></button>
      <button pButton type="button" (click)="cancel()" label="No" class="pi pi-times"></button>
      <!--<h5><b>Would you like to start a new game?</b></h5>
      <button class="modal-button" (click)="newGame()">Yes</button>
      <button class="modal-button" (click)="redirect()">No</button>-->
    </div>
  </p-dialog>
</div>
