<div class="card">
  <p-table id="customTable" [value]="data">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon></th>
        <th pSortableColumn="wpm">WPM <p-sortIcon field="wpm"></p-sortIcon></th>
        <th pSortableColumn="cpm">CPM <p-sortIcon field="cpm"></p-sortIcon></th>
        <th pSortableColumn="accuracy">Accuracy <p-sortIcon field="accuracy"></p-sortIcon></th>
        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{data.username}}</td>
        <td>{{data.wpm}}</td>
        <td>{{data.wpm * 5}}</td>
        <td>{{data.accuracy * 100}}%</td>
        <td>{{data.date}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
