<div class="container">
  <div class="form">
    <h3>Sign in</h3>
    <div class="form-group">
      <i class="pi pi-user" style="color: white;"></i>
      <input type="text" placeholder="Username" pInputText required [(ngModel)]="service.userInput.username"/>
      <p class="p-error" *ngIf="service.errors.username">{{service.errors.username}}</p>
    </div>
    <div class="form-group">
      <i class="pi pi-lock" style="color: white;"></i>
      <input type="password" placeholder="Password" pInputText required [(ngModel)]="service.userInput.password"/>
      <p class="p-error" *ngIf="service.errors.password">{{service.errors.password}}</p>
    </div>
    <div class="form-group">
      <i class="pi pi-check-circle" style="color: white;"></i>
      <input type="password" placeholder="Password confirmation" pInputText required [(ngModel)]="service.userInput.passwordConfirm"/>
      <p class="p-error" *ngIf="service.errors.passwordConfirm">{{service.errors.passwordConfirm}}</p>
    </div>
    <p-button label="Login" [style]="{'margin-bottom': '2%'}"></p-button>
    <h5>Not registered yet? </h5><a routerLink="/register" routerLinkActive="active">Sign up here</a>
  </div>
</div>
