@font-face {
  font-family: 'LemonMilk';
  src: url("../assets/fonts/LEMONMILK-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Lato', 'sans-serif';
  src: url("../assets/fonts/Lato-Light.ttf") format("truetype");
}
.navbar{
  color: white;
  background-color: lightblue;
}
a{
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: 'Lato', 'sans-serif';
}
a:hover{
  color: black;
  border-bottom: 2px solid black;
}
nav{
  width: 100%;
  min-height: 12vh;
}
h2{
  font-family: 'LemonMilk';
  margin-left: 2rem;
}
