<body>
    <div class="wrapper">
      <nav class="navbar" style="width: 100%">
        <div class="container-fluid">
          <h2>Typing speed test</h2>
          <div class="links">

            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/login" routerLinkActive="active">Login</a>
            <a routerLink="/register" routerLinkActive="active">Register</a>
            <a routerLink="/content" routerLinkActive="active">Play</a>
            <a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a>
            <a href="#">Options</a>
          </div>
        </div>
      </nav>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
</body>
