@import "../styles.scss";

.sidenav {
	background-color: $sidebar;
	width: $sidebar-width;
	font-family: "Lato", "sans-serif";
	display: flex;
	justify-content: center;
}

.nav-link {
	text-decoration: none;
	border: none;
	outline: none;
	color: $dark-text;
	font-size: 1.3rem;
	font-weight: bold;
	padding: 1rem 1rem 1rem 2rem;
}
.nav-link:hover {
	background-color: $dark-sidenav-hover;
	color: $dark-bg;
}

.nav-list {
	display: flex;
	flex-direction: column;
	margin-top: 20vh;
}

.container {
	min-height: 100vh;
}

.main-content {
	background-color: $dark-bg;
	min-height: 100vh;
	color: $dark-text;
}

.sidenav-toggle {
	color: $dark-text;
	position: absolute;
	height: 2rem;
	width: 2rem;
	:hover {
		cursor: pointer;
	}
	.sidenav-toggle-icon {
		width: 2rem;
		height: 2rem;
	}
}

.sidenav-toggle-closed {
	margin-left: 1rem;
	margin-top: 1rem;
}

.sidenav-toggle-opened {
	position: fixed;
	top: 1rem;
	left: calc($sidebar-width + 1rem);
}
