.wrapper{
    display: flex;
}

@font-face {
  font-family: 'LemonMilk';
  src: url("../assets/fonts/LEMONMILK-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Lato', 'sans-serif';
  src: url("../assets/fonts/Lato-Light.ttf") format("truetype");
}
.navbar{
  color: white;
  background-color: lightblue;
}
.links{
  display: inline;
}
.links > a{
  margin: 2rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: 'Lato', 'sans-serif';
}
.links > a:hover{
  color: black;
  background-color: aliceblue;
}
nav{
  height: 10vh;
  margin: auto;
}
h2{
  font-family: 'LemonMilk';
  margin-left: 75px;
}
