<div class="container">
    <div *ngIf="!isTimeOver">
      <div>
        <h3 class="same-line">Correct words: {{numOfCorrect}}/{{index}}</h3>
        <h3 class="same-line">Timer: {{ timer }} sec</h3>
        <h3 class="same-line">WPM: {{ calculateCurrentWpm() }}</h3>
      </div>
      <div id="theWords">
        <span *ngFor="let word of service.words; index as i" [ngClass]="{'nextword' : i == index}">{{ word + " " }}</span>
      </div>
      <div>
        <input type="text" style="width: 100%;" placeholder="type here..." (keyup.space)="checkInput()" (keyup.backspace)="goBack()" [(ngModel)]="input"
               (focus)="decreaseTime()">
      </div>
    </div>
    <p-dialog [style]="{'border': '1px solid black', 'border-radius': '5px', 'width': '60%', 'height':'50%', 'padding': '5%'}"
              [visible]="isTimeOver" [closable]=false>
      <h3>The time is up!</h3>
      <div>
        <h4>Out of {{index}}, you managed to type in {{numOfCorrect}} correctly.</h4>
        <h4>WPM: {{ calculateCurrentWpm() }}</h4>
        <h4>CPM: {{ numOfTypedChar }}</h4>
      </div>
    </p-dialog>
</div>
