#theWords{
    height: 400px;
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
    overflow-y: scroll;
}
span{
    margin: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}
.same-line{
    padding-right: 25px;
    display: inline;
}
.container{
    margin-top: 2rem;
}
input{
    border: 3px solid black;
    border-top: none;
    border-radius: 5px;
}
.modal-button{
  background-color: lightblue;
  color: white;
  border-radius: 5px;
  width: 3rem;
}
.nextword{
    background-color: lightblue;
    color: white;
}
