<div class="container">
    <div>
        <h3 class="same-line">Correct words: {{numOfCorrect}}/{{index}}</h3>
        <h3 class="same-line">Timer: {{ timer }} sec</h3>
        <h3 class="same-line">WPM: {{ (numOfTypedChar / 5) / ((60-timer)/60) }}</h3>
    </div>
    <div id="theWords">
        <span id="nostyle" *ngFor="let word of words; index as i">
            <span [ngClass]="{'nextword' : i == index}">{{ word + " " }}</span>
        </span>
    </div>
    <div>
        <input type="text" style="width: 100%;" placeholder="type here..." (keyup.space)="checkInput()" (keyup.backspace)="goBack()" [(ngModel)]="input" 
        (focus)="decreaseTime()">
    </div>
</div>
