@font-face {
    font-family: 'LemonMilk';
    src: url("/assets/fonts/LEMONMILK-Regular.otf") format("opentype");
}
.navbar{
    color: white;
    background-color: lightblue;
}
nav{
    height: 100px;
    margin: auto;
}
h2{
    font-family: 'LemonMilk';
    margin: auto;
}
.sidebar {
    width: 200px;
    min-height: 100vh;
    background-color:aliceblue;
}
a{
    text-decoration:none;
    color: black;
    padding-left: 25px;
}
a:hover{
    color: gray;
}
#menu{
    padding: 15px;
    font-weight: bold;
}
.sidebar-header{
    width: 200px;
    background-color:lightblue;
}