@font-face {
    font-family: 'LemonMilk';
    src: url("/assets/fonts/LEMONMILK-Regular.otf") format("opentype");
}
.navbar{
    color: white;
    background-color: lightblue;
}
.links{
    display: inline;
    margin-right: 75px;
}
.links > a{
    padding: 50px 25px 25px 25px;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: bolder;
}
.links > a:hover{
    color: white;
}
nav{
    height: 100px;
    margin: auto;
}
h2{
    font-family: 'LemonMilk';
    margin-left: 75px;
}
.sidebar-header{
    width: 200px;
    background-color:lightblue;
}