<div class="container">
  <div class="form">
    <h3>Sign up</h3>
    <div class="form-group">
      <input type="text" pInputText required [(ngModel)]="service.userInput.username"/>
      <p class="p-error" *ngIf="service.errors.username">{{service.errors.username}}</p>
    </div>
    <div class="form-group">
      <input type="password" pInputText required [(ngModel)]="service.userInput.password"/>
      <p class="p-error" *ngIf="service.errors.password">{{service.errors.password}}</p>
    </div>
    <div class="form-group">
      <input type="password" pInputText required [(ngModel)]="service.userInput.passwordConfirm"/>
      <p class="p-error" *ngIf="service.errors.passwordConfirm">{{service.errors.passwordConfirm}}</p>
    </div>
    <p-button label="Create account" (onClick)="service.save()"></p-button>
  </div>
</div>
