<div class="container">
  <div class="form">
    <h3>Sign up</h3>
    <div class="form-group">
      <i class="pi pi-envelope" style="color: white;"></i>
      <input type="email" placeholder="E-mail" pInputText required [(ngModel)]="service.userInput.email"/>
      <p class="p-error" *ngIf="service.errors.email">{{service.errors.email}}</p>
    </div>
    <div class="form-group">
      <i class="pi pi-user" style="color: white;"></i>
      <input type="text" placeholder="Username" pInputText required [(ngModel)]="service.userInput.username"/>
      <p class="p-error" *ngIf="service.errors.username">{{service.errors.username}}</p>
    </div>
    <div class="form-group">
      <i class="pi pi-lock" style="color: white;"></i>
      <input type="password" placeholder="Password" pInputText required [(ngModel)]="service.userInput.password"/>
      <p class="p-error" *ngIf="service.errors.password">{{service.errors.password}}</p>
    </div>
    <div class="form-group">
      <i class="pi pi-check-circle" style="color: white;"></i>
      <input type="password" placeholder="Password confirmation" pInputText required [(ngModel)]="service.userInput.passwordConfirm"/>
      <p class="p-error" *ngIf="service.errors.passwordConfirm">{{service.errors.passwordConfirm}}</p>
    </div>
    <p-button label="Create account" [style]="{'margin-bottom': '2%'}" (onClick)="service.saveRegisterInput()"></p-button>
    <h5>Already have an account?</h5><a routerLink="/login" routerLinkActive="active">Sign in</a>
  </div>
</div>
