.container{
  height: 100%;
  text-align: center;
  margin-top: 10vh;
}
input{
  width: 55%;
  margin: 2%;
  border-radius: 30px;
}
.form{
  width: 75%;
  height: 65%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: lightblue;
  color: white;
}
h3{
  padding-top: 7.5%;
  font-weight: bolder;
}
