/* You can add global styles to this file, and also import other style files */

$sidebar: #23233f;
$dark-bg: #15151f;
$dark-secondary: #353347;
$dark-text: #f0f8ff;
$dark-text-secondary: #01010f;
$light-text: #01010f;
$dark-sidenav-hover: #eeeeff;

html,
body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
}
