/* You can add global styles to this file, and also import other style files */
$sidebar: #23233f;
$sidebar-width: 11.5rem;
$light-bg: #f0f8ff;
$light-text: #111100;
$dark-bg: #15151f;
$dark-secondary: #353347;
$dark-tertiary: #686679;
$dark-text: #f0f8ff;
$dark-text-secondary: #01010f;
$dark-dialog: #23233f;
$dark-primary-btn: #232434;
$dark-secondary-btn: #353347;
$light-text: #01010f;
$dark-sidenav-hover: #eeeeff;

html,
body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
}

.mat-table,
.mat-header-cell,
.mat-cell,
.mat-header-row,
.mat-row {
	background-color: $dark-secondary;
	color: $dark-text;
}

.mat-dialog-container,
.mat-dialog-content,
.mat-dialog-title,
.mat-dialog-actions {
	background-color: $dark-dialog;
	color: $dark-text;
}

.mat-dialog-actions {
	display: flex;
	justify-content: center;
}

.btn {
	height: 2rem;
	width: 6rem;
	cursor: pointer;
	border-radius: 0.5rem;
	border-style: none;
}

.primary-btn {
	color: $dark-text;
	background-color: $dark-primary-btn;
}

.primary-btn:hover {
	background-color: $dark-bg;
}

.secondary-btn {
	color: $dark-text;
	background-color: $dark-secondary-btn;
}
