@import "../../styles.scss";

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.paginator {
	padding: 1rem 0 1rem 0;
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $dark-text;
}

.pagination-btns {
	display: flex;
	flex-direction: row;
	margin-left: 1rem;
}

.pagination-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 0.5rem;
	border: none;
	color: $dark-text;
	background-color: transparent;
	margin-right: 0.5rem;
	cursor: pointer;
}

.current-page {
	margin-left: 1.5rem;
}

.disabled-btn {
	opacity: 0.5;
}

select {
	height: 1.5rem;
	background-color: $dark-tertiary;
	color: $dark-text;
	border: none;
	margin: 0 0.5rem 0 0.5rem;
}

.table {
	width: 60%;
}

.no-results {
	font-weight: 500;
}
