@import "../../styles.scss";

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.results-table {
	padding: 2rem;
	min-width: 22rem;
	width: 60vw;
	border-collapse: collapse;
	table-layout: fixed;
	tr {
		border-bottom: 1px solid $dark-bg;
	}
	td {
		background-color: $dark-secondary;
		font-weight: 300;
		font-size: 0.9rem;
		text-align: center;
		height: 6rem;
	}
}

.sort-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $dark-quaternary;
	height: 4rem;
}

.paginator {
	padding: 1rem 0 1rem 0;
	width: 100%;
	height: 3rem;
	display: flex;
	@media screen and (width < 500px) {
		flex-direction: column;
		margin-top: 2rem;
	}
	align-items: center;
	justify-content: center;
	color: $dark-text;
}

.pagination-btns {
	display: flex;
	flex-direction: row;
	margin-left: 1rem;
}

.pagination-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 0.5rem;
	border: none;
	color: $dark-text;
	background-color: transparent;
	margin-right: 0.5rem;
	cursor: pointer;
}

.pagination-item {
	@media screen and (width < 500px) {
		padding: 0.33rem;
	}
}

.current-page {
	margin-left: 1.5rem;
}

.disabled-btn {
	opacity: 0.5;
}

select {
	height: 1.5rem;
	background-color: $dark-tertiary;
	color: $dark-text;
	border: none;
	margin: 0 0.5rem 0 0.5rem;
}

.no-results {
	background-color: $dark-secondary;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 6rem;
	width: 60vw;
	min-width: 25rem;
}

.error {
	font-weight: 500;
}
