.word-component {
	display: flex;
	justify-content: center;
	margin-top: 20vh;
}

.stats {
	margin-top: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stat {
	margin-right: 5%;
	text-align: center;
}

.stat:last-of-type {
	margin-right: 0%;
}
