@import "../../styles.scss";

.container {
	display: flex;
	justify-content: center;
}

.words {
	margin-top: 25vh;
	font-size: 2rem;
	font-weight: 300;
}

.word {
	padding-right: 0.5rem;
	color: $dark-text;
	display: inline;
}
