@import "../../styles.scss";

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.word-component {
	display: flex;
	justify-content: center;
}

.stats {
	margin-top: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stat {
	margin-right: 5%;
	text-align: center;
}

.stat:last-of-type {
	margin-right: 0%;
}

.difficulty-btns {
	display: flex;
	flex-direction: column;
	button {
		margin-bottom: 0.5rem;
		background-color: $dark-bg;
		color: $dark-text;
		border: none;
	}
}

.settings {
	margin: 2rem 2rem 0 0;
	display: flex;
	align-self: flex-end;
}

.setting {
	margin-left: 2rem;
	label {
		font-size: 1rem;
		font-weight: 300;
	}
	select {
		background-color: transparent;
		border: none;
		color: $dark-text;
		font-weight: 500;
		font-size: 0.9rem;
	}
}

.test {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
